*
  // border: 1px solid $gray-200

body 
  +size(100vw,100vh)
  background-color: $gray-900
  font-weight: 300

a 
  color: $white

button
  +size(auto, 35px)


/*------------------------------------*/
/*  Content         
/*------------------------------------*/
main
  color: $white
  +flex(space-between,start)

.container
  width: 100%  
 
.task
  li 
    min-height: 80px
    padding: 0 0 0 54px
    border-bottom: 1px solid $gray-700
    position: relative
    transition: 0.5s
    &.active
      background-color: $gray-600 
    &:hover
      background-color: $gray-600 
      &:before
        +size(25px)
        content: url(../images/icon-sort.svg)
        display: inline-block
        position: absolute  // 善用before + absolute 
        left: 13px
        top: 50%
        transform: translateY(-50%)
  input.task-name
    border-radius: 0    
  .task-name
    // +size(100%, auto)
    max-width: 50%
    +color($white, transparent)
    display: inline-block
    padding: 8px 0
    +mr(4)
.task li.edit-active input.task-name
  border-bottom: 1px solid $white

.btn-check
  height: 80px
  background-color: transparent
  padding: 0
  .icon-check
    +size(25px)
    border-radius: 50%
    border: 2px solid $primary
    fill: transparent
  &:hover 
    & .icon-check
      fill: $white
      background-color: $primary

.btn-group
  display: flex
  float: right
  &:after
    clear: both
  button
    +size(80px)
    &+ button
      border-left: 1px solid $gray-500 
    svg
      fill: $gray-500
    &.btn-remove
      // display: none
      &:hover
        background-color: $red
        svg
          fill: $white
  .btn-star 
    &.active
      svg
        fill: $primary

  // .icon-favorfill
  //   &.active, &:hover
  //     fill: $primary

.task
  li:hover 
    .btn-remove
      display: inline


/* Edit */
.panel-edit
  +color($gray-300, $gray-600)
  padding: 24px 0
  display: none
  &.active
    display: block
  .edit-item
    max-width: 420px
    font-size: 15px
    margin:
      right: 90px 
      bottom: 24px
      left: 90px
  .input-date
    width: 100%  // calc((100% - 8px) / 2 )
    color: $white
    background-color: rgba($white,0.2)
    font-weight: 300
    +mr(1)
    +d-inline-block()
    &:last-child
      margin-right: 0
    &:placeholder
      // $white
  .edit-item-content
    margin-top: 8px
  .add-file
    +size(100%,32px)
    +color($white, rgba($white,0.2))
    line-height: 32px
    border-radius: 5px
    display: inline-block
    padding-left: 40px
    position: relative
    input   // 疊在 add btn 上面
      +size(32px)
      opacity: 0
      position: absolute
      left: 0
    svg.icon-add
      +size(32px)
      fill: $white
      background-color: $gray-300
      border-radius: 5px 0 0 5px
      padding: 4px
      position: absolute
      left: 0
    .add-file-name
      width: calc(100% - 70px)
      height: 100%
      text-overflow: ellipsis   //  檔名太長，超過一行顯示...隱藏
      white-space : nowrap
      overflow: hidden
      position: absolute
      left: 48px

  textarea
    +size(100%,64px)
    +color($white, rgba($white,0.2))
    border-radius: 5px
    padding: 16px
    border: 0

  .buttons
    border-top: 1px solid $gray-500
    padding: 24px 90px
    button
      width: calc((420px - 8px 4px) / 2) 
      color: $white
      font-weight: 300
      border-radius: 5px
      svg
        vertical-align: sub  // 解決icon對齊文字問題
    .btn-cancel
      border: 1px solid $gray-500
      transition: 0.5s
      &:hover
        background-color: $gray-500
    .btn-save
      +color($white,$primary)
      svg
        fill: $white
      &:hover
        background-color: darken($primary, 8%)
     


/*------------------------------------*/
/*  Icon         
/*------------------------------------*/

  


/*------------------------------------*/
/*  狀態          
/*------------------------------------*/
#content-completed
  display: none
  opacity: 0.5
  .btn-check
    .icon-check
      fill: $white
      background-color: $primary


/*------------------------------------*/
/*  Aside          
/*------------------------------------*/
aside
  +size(210px, 100vh)
  max-width: 210px
  +color($white, $gray-800)



/*------------------------------------*/
/*  Aside          
/*------------------------------------*/

.badge
  +color($white, $gray-300)
  font-size: 14px
  border-radius: 5px
  padding: 2px 4px

.badge-pill
  +color($gray-300,$gray-700)
  font-size: 14px
  border-radius: 25px
  padding: 4px 12px
  +mr(1)
  svg
    margin-bottom: 5px
  
.badge-group
  display: inline-block 
  
svg
  +size(20px)
  fill: $primary

.icon
  +mr(1)